@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a mi examen</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #124; 
            text-align: center;
            color: #fff; 
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #200; 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #FF5733; 
        }

        p {
            color: #FFD700; 
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bienvenido a mi página web</h1>
        <p>Esta es mi examen, mi nombre es Guillermo Alvarez</p>
        <a href="https://ibb.co/b6m5YhL"><img src="https://i.ibb.co/NFC2fhp/image.png" alt="Logo de la empresa" border="0"></a>
    </div>
</body>
</html>
